body {
    background-color: black   ;
    font-family: 'Bree Serif', serif;
}

.container {
    margin: 166px auto;
}

.title {
    color: #fff;
    letter-spacing: 2px;
}

input[type="number"] {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
}

input[type="number"]:focus {
    border-radius: 20px;
}

#calculate {
    background-color: #2BC62B;
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 20px;
}
